
#
# -------- USER SPACE --------
#
# CONFIG_BASIC_EXAMPLE is not set
# CONFIG_BLUETOOTH_LE_EXAMPLE is not set
# CONFIG_THREAD_EXAMPLE is not set
# CONFIG_SUBG_EXAMPLE is not set
CONFIG_OTHERS_EXAMPLE=y
# CONFIG_HCI_RAW is not set
# CONFIG_HELLOWORLD is not set
CONFIG_BOOTLOADER_APP=y
# CONFIG_MULTI_PROTOCOL_RCP is not set
# CONFIG_RF_EV_UB is not set
# CONFIG_RF_LABTEST_TOOL is not set
# CONFIG_CRYPTO_AES_ENABLE is not set
# CONFIG_CRYPTO_C25519_ENABLE is not set
CONFIG_CRYPTO_SECP256R1_ENABLE=y
# CONFIG_CRYPTO_SECP192R1_ENABLE is not set
# CONFIG_CRYPTO_SECT163R2_ENABLE is not set
CONFIG_APPLICATION_VERSION="1.0.0"
CONFIG_BUILD_PORJECT="bootloader-app"

#
# PROJECT CONFIG
#

#
# PROJECT CONFIG
#
# end of PROJECT CONFIG
# end of PROJECT CONFIG

#
# SELECT DEVICE
#
# CONFIG_RT581 is not set
# CONFIG_RT582_NONE_OS is not set
# CONFIG_RT582 is not set
# CONFIG_RT583 is not set

# CONFIG_RT584H is not set
# CONFIG_RT584L is not set
CONFIG_RT584_NONE_OS=y
CONFIG_CHIP="RT584_NONE_OS"
CONFIG_BOOTLOADER=y
CONFIG_BOARD="BOOTLOADER"
CONFIG_TRUST_ZONE_SECURE=y
CONFIG_TRUST_ZONE="TRUST_ZONE_SECURE"
CONFIG_HOSAL_SOC_DISABLE_MP_SECTOR_INIT=y
CONFIG_BOOTLOADER_DEBUG=y

#
# RT584 BOOTLOADER Configuration
#
# end of RT584 BOOTLOADER Configuration

CONFIG_CPU_COMPILER_FLAG="-mcpu=cortex-m33"
CONFIG_DRIVER=y
CONFIG_CRYPTO=y
CONFIG_HOSAL=y
# end of SELECT DEVICE

#
# SELECT COMPONENT
#
# CONFIG_BUILD_COMPONENT_CPC is not set
# CONFIG_BUILD_COMPONENT_BLUETOOTH is not set
# CONFIG_BUILD_COMPONENT_LMAC5P4 is not set
# CONFIG_BUILD_COMPONENT_RT569 is not set
# CONFIG_BUILD_COMPONENT_CSS is not set
# CONFIG_BUILD_COMPONENT_RUCI is not set
# CONFIG_BUILD_COMPONENT_SUBG_CTRL is not set

#
# THREAD
#
# CONFIG_BUILD_COMPONENT_OPENTHREAD is not set
# CONFIG_BUILD_COMPONENT_OPENTHREAD_SUBG is not set
# CONFIG_BUILD_COMPONENT_OPENTHREAD_PORT is not set
# end of THREAD

#
# CRYPTO
#
# end of CRYPTO

# CONFIG_BUILD_COMPONENT_ZIGBEE is not set
CONFIG_BUILD_COMPONENT_UTILITY=y
# CONFIG_BUILD_COMPONENT_CLI is not set
# CONFIG_BUILD_COMPONENT_ENHANCED_FLASH_DATASET is not set
CONFIG_BUILD_COMPONENT_NEWLIBC=y
CONFIG_BUILD_COMPONENT_LOG=y
CONFIG_BUILD_COMPONENT_UART_STDIO=y
# CONFIG_BUILD_COMPONENT_SYSLOG is not set
# CONFIG_BUILD_COMPONENT_SW_TIMER is not set
CONFIG_BUILD_COMPONENT_LZMADEC=y
CONFIG_BUILD_COMPONENT_VERSION_INFO=y
# end of SELECT COMPONENT

#
# -------- KERNEL SPACE --------
#

#
# COMPILIER SETTING
#
# CONFIG_OPT_DEFAULT is not set
# CONFIG_OPT_O is not set
# CONFIG_OPT_O0 is not set
# CONFIG_OPT_O1 is not set
# CONFIG_OPT_O2 is not set
# CONFIG_OPT_O3 is not set
# CONFIG_OPT_Ofast is not set
# CONFIG_OPT_Og is not set
CONFIG_OPT_Os=y
# CONFIG_OPT_Oz is not set
CONFIG_COMPILE_OPTIMIZATION="-Os"
CONFIG_CUSTOM_COMPILE_FLAG=""
# end of COMPILIER SETTING

#
# COMPONENT SETTING
#

#
# NETWORK
#

#
# Select Supported FW Images
#
# CONFIG_RF_FW_INCLUDE_PCI is not set
# CONFIG_RF_FW_INCLUDE_BLE is not set
# CONFIG_RF_FW_INCLUDE_MULTI_2P4G is not set
# CONFIG_RF_FW_INCLUDE_MAC_ACC is not set
# CONFIG_RF_FW_INCLUDE_HYBRID_INST is not set
# CONFIG_RF_FW_INCLUDE_INTERNAL_TEST is not set
# end of Select Supported FW Images

#
# THREAD
#
CONFIG_OPENTHREAD_TASK_SIZE=4096

#
# OT DEVICE ROLE
#
# CONFIG_OT_DEVICE_TYPE_FTD is not set
# CONFIG_OT_DEVICE_TYPE_MTD is not set
CONFIG_OT_DEVICE_TYPE_RCP=y
# end of OT DEVICE ROLE

CONFIG_OT_RCP_HDLC=y
# CONFIG_OT_RCP_EZMESH is not set
# end of THREAD
# end of NETWORK

#
# PLATFROM
#

#
# UTLITY
#

#
# UART Console
#
CONFIG_UART_STDIO_PORT=0
CONFIG_UART_STDIO_TX_PIN=16
CONFIG_UART_STDIO_RX_PIN=17
CONFIG_UART_STDIO_BAUDRATE=115200
# end of UART Console

#
# Sofware timer
#
# CONFIG_SW_TIMER_ENABLE_DEBUG is not set
# end of Sofware timer

CONFIG_LOG_MAX_LEVEL=1
# end of UTLITY
# end of COMPONENT SETTING
