
#
# -------- SDK   Configuration --------
#
# CONFIG_RT581 is not set
# CONFIG_RT582 is not set
CONFIG_RT583=y
# CONFIG_RT584H is not set

# CONFIG_RT584L is not set
# CONFIG_RT582_NONE_OS is not set
# CONFIG_RT584_NONE_OS is not set
CONFIG_CHIP="RT583"
CONFIG_CPU_COMPILER_FLAG="-mcpu=cortex-m3"
CONFIG_FREERTOS=y
CONFIG_HOSAL=y
CONFIG_DRIVER=y
CONFIG_CRYPTO=y
# CONFIG_HELLOWORLD is not set
CONFIG_BASIC_EXAMPLE=y
# CONFIG_BLUETOOTH_LE_EXAMPLE is not set
# CONFIG_THREAD_EXAMPLE is not set
# CONFIG_SUBG_EXAMPLE is not set
# CONFIG_ZIGBEE_EXAMPLE is not set
# CONFIG_HCI_RAW is not set
# CONFIG_MULTI_PROTOCOL_RCP is not set
# CONFIG_RF_EV_UB is not set
# CONFIG_RF_LABTEST_TOOL is not set

#
# Basic Examples
#
# CONFIG_PERIPHERAL_EXAMPLE_COMP is not set
# CONFIG_PERIPHERAL_EXAMPLE_CRYPTO is not set
# CONFIG_PERIPHERAL_EXAMPLE_DMA is not set
# CONFIG_PERIPHERAL_EXAMPLE_FLASH is not set
# CONFIG_PERIPHERAL_EXAMPLE_GPIO is not set
CONFIG_PERIPHERAL_EXAMPLE_I2C=y
# CONFIG_PERIPHERAL_EXAMPLE_I2S is not set
# CONFIG_PERIPHERAL_EXAMPLE_LPM is not set
# CONFIG_PERIPHERAL_EXAMPLE_PWM is not set
# CONFIG_PERIPHERAL_EXAMPLE_QSPI is not set
# CONFIG_PERIPHERAL_EXAMPLE_RTC is not set
# CONFIG_PERIPHERAL_EXAMPLE_SADC is not set
# CONFIG_PERIPHERAL_EXAMPLE_SWI is not set
# CONFIG_PERIPHERAL_EXAMPLE_SLOW_TIMER is not set
# CONFIG_PERIPHERAL_EXAMPLE_TIMER is not set
# CONFIG_PERIPHERAL_EXAMPLE_UART is not set
# CONFIG_PERIPHERAL_EXAMPLE_WDT is not set
CONFIG_PER_I2C_MASTER=y
# end of Basic Examples

CONFIG_CRYPTO_AES_ENABLE=y
CONFIG_CRYPTO_C25519_ENABLE=y
CONFIG_CRYPTO_SECP256R1_ENABLE=y
CONFIG_CRYPTO_SECP192R1_ENABLE=y
CONFIG_CRYPTO_SECT163R2_ENABLE=y
# CONFIG_BOOTLOADER_APP is not set
# CONFIG_HOSAL_SOC_DISABLE_MP_SECTOR_INIT is not set

#
# Select Board type and Peripheral
#
CONFIG_EVB=y
# CONFIG_DONGLE is not set
CONFIG_BOARD="EVB"

#
# EVK Board Config
#
CONFIG_HOSAL_SOC_MAIN_ENTRY_TASK_SIZE=256
CONFIG_HOSAL_SOC_MAIN_ENTRY_TASK_PRIORITY=5
# CONFIG_HOSAL_SOC_IDLE_SLEEP is not set
CONFIG_HOSAL_SOC_TARGET_CUSTOMER=""
# end of EVK Board Config

#
# Peripheral
#
CONFIG_PERIPHERAL_COMP=y
CONFIG_PERIPHERAL_DMA=y
CONFIG_PERIPHERAL_PWM=y
CONFIG_PERIPHERAL_I2S=y
CONFIG_PERIPHERAL_I2C=y
CONFIG_PERIPHERAL_SPI=y
CONFIG_PERIPHERAL_SADC=y
CONFIG_PERIPHERAL_RTC=y
CONFIG_PERIPHERAL_TIMER=y
CONFIG_PERIPHERAL_SWI=y
# end of Peripheral
# end of Select Board type and Peripheral

#
# Select CPC Component
#
# CONFIG_BUILD_COMPONENT_CPC is not set
# end of Select CPC Component

#
# Select Network RF Component
#
# CONFIG_BUILD_COMPONENT_CSS is not set
CONFIG_BUILD_COMPONENT_RUCI=y
# CONFIG_BUILD_COMPONENT_LMAC5P4 is not set
CONFIG_BUILD_COMPONENT_RT569=y
CONFIG_BUILD_COMPONENT_RT569_RF=y
CONFIG_BUILD_COMPONENT_RT569_FW=y
# end of Select Network RF Component

#
# Select Supported FW Images
#
CONFIG_RF_FW_INCLUDE_PCI=y
# CONFIG_RF_FW_INCLUDE_BLE is not set
# CONFIG_RF_FW_INCLUDE_MULTI_2P4G is not set
# CONFIG_RF_FW_INCLUDE_MAC_ACC is not set
# CONFIG_RF_FW_INCLUDE_HYBRID_INST is not set
# CONFIG_RF_FW_INCLUDE_INTERNAL_TEST is not set
# end of Select Supported FW Images

#
# Select Crypto
#
# end of Select Crypto

#
# Select Utility
#
# CONFIG_BUILD_COMPONENT_LOG is not set
CONFIG_BUILD_COMPONENT_UART_STDIO=y
CONFIG_UART_STDIO_PORT=0
CONFIG_UART_STDIO_TX_PIN=17
CONFIG_UART_STDIO_RX_PIN=16
CONFIG_UART_STDIO_BAUDRATE=2000000
CONFIG_BUILD_COMPONENT_UTILITY=y
# CONFIG_BUILD_COMPONENT_CLI is not set
# CONFIG_BUILD_COMPONENT_NEWLIBC is not set
# CONFIG_BUILD_COMPONENT_SYSLOG is not set
# CONFIG_BUILD_COMPONENT_SW_TIMER is not set
# CONFIG_BUILD_COMPONENT_ENHANCED_FLASH_DATASET is not set
# CONFIG_BUILD_COMPONENT_LZMADEC is not set
# CONFIG_BUILD_COMPONENT_VERSION_INFO is not set
# CONFIG_BUILD_COMPONENT_DUMP_BOOT_INFO is not set
# end of Select Utility

CONFIG_BUILD_PORJECT="i2c-master"

#
# Select Compiler Optimization
#
CONFIG_OPT_DEFAULT=y
# CONFIG_OPT_O0 is not set
# CONFIG_OPT_O1 is not set
# CONFIG_OPT_O2 is not set
# CONFIG_OPT_O3 is not set
# CONFIG_OPT_Ofast is not set
# CONFIG_OPT_Og is not set
# CONFIG_OPT_Os is not set
# CONFIG_OPT_Oz is not set
CONFIG_COMPILE_OPTIMIZATION="-O"
CONFIG_CUSTOM_COMPILE_FLAG=""
# end of Select Compiler Optimization
