
#
# -------- SDK   Configuration --------
#
# CONFIG_RT581 is not set
CONFIG_RT582=y
# CONFIG_RT583 is not set
# CONFIG_RT584H is not set

# CONFIG_RT584L is not set
# CONFIG_RT582_NONE_OS is not set
# CONFIG_RT584_NONE_OS is not set
CONFIG_CHIP="RT582"
CONFIG_CPU_COMPILER_FLAG="-mcpu=cortex-m3"
CONFIG_FREERTOS=y
CONFIG_HOSAL=y
CONFIG_DRIVER=y
CONFIG_CRYPTO=y
# CONFIG_HELLOWORLD is not set
# CONFIG_BASIC_EXAMPLE is not set
CONFIG_BLUETOOTH_LE_EXAMPLE=y
# CONFIG_THREAD_EXAMPLE is not set
# CONFIG_SUBG_EXAMPLE is not set
# CONFIG_ZIGBEE_EXAMPLE is not set
# CONFIG_HCI_RAW is not set
# CONFIG_MULTI_PROTOCOL_RCP is not set
# CONFIG_RF_EV_UB is not set
# CONFIG_RF_LABTEST_TOOL is not set
CONFIG_CRYPTO_AES_ENABLE=y
CONFIG_CRYPTO_C25519_ENABLE=y
CONFIG_CRYPTO_SECP256R1_ENABLE=y
CONFIG_CRYPTO_SECP192R1_ENABLE=y
CONFIG_CRYPTO_SECT163R2_ENABLE=y

#
# BLE ROLE TYPE
#
CONFIG_BLE_PERIPHERAL_ROLE=y
# CONFIG_BLE_CENTRAL_ROLE is not set
# CONFIG_BLE_MULTI_LINK is not set
# CONFIG_BLE_OTHERS is not set
# CONFIG_BLE_MESH is not set
# CONFIG_PERIPH_HEART_RATE is not set
CONFIG_PERIPH_HOGP=y
# CONFIG_PERIPH_TRSP is not set
# CONFIG_PERIPH_TRSP_FOTA is not set
# CONFIG_PERIPH_DATA_RATE is not set
# CONFIG_PERIPH_ESL is not set
# end of BLE ROLE TYPE

#
# BLE Component
#
CONFIG_BUILD_COMPONENT_BLUETOOTH=y
# CONFIG_BUILD_COMPONENT_BLUETOOTH_HCI_BRIDGE is not set
CONFIG_BUILD_COMPONENT_BLUETOOTH_LE_HOST=y
CONFIG_SUPPORT_PAWR=0
# CONFIG_BUILD_COMPONENT_BLUETOOTH_LE_MESH is not set

#
# SELECT SUPPORT BLE SERVICES
#
CONFIG_BLUETOOTH_LE_SERVICE_GAP=y
CONFIG_BLUETOOTH_LE_SERVICE_DIS=y
CONFIG_BLUETOOTH_LE_SERVICE_GATT=y
CONFIG_BLUETOOTH_LE_SERVICE_BAS=y
# CONFIG_BLUETOOTH_LE_SERVICE_BLS is not set
# CONFIG_BLUETOOTH_LE_SERVICE_FOTA is not set
CONFIG_BLUETOOTH_LE_SERVICE_HID=y
# CONFIG_BLUETOOTH_LE_SERVICE_HRS is not set
# CONFIG_BLUETOOTH_LE_SERVICE_MESH is not set
# CONFIG_BLUETOOTH_LE_SERVICE_TRSP is not set
# CONFIG_BLUETOOTH_LE_SERVICE_MATTER is not set
# CONFIG_BLUETOOTH_LE_SERVICE_ESLS is not set
# CONFIG_BLUETOOTH_LE_SERVICE_OTS is not set
# end of SELECT SUPPORT BLE SERVICES

#
# BLE MAX LINK NUM
#
CONFIG_BLE_SUPPORT_NUM_CONN_MAX=1
# end of BLE MAX LINK NUM
# end of BLE Component

# CONFIG_BOOTLOADER_APP is not set
# CONFIG_HOSAL_SOC_DISABLE_MP_SECTOR_INIT is not set

#
# Select Board type and Peripheral
#
CONFIG_EVB=y
# CONFIG_DONGLE is not set
CONFIG_BOARD="EVB"

#
# EVK Board Config
#
CONFIG_HOSAL_SOC_MAIN_ENTRY_TASK_SIZE=256
CONFIG_HOSAL_SOC_MAIN_ENTRY_TASK_PRIORITY=5
CONFIG_HOSAL_SOC_IDLE_SLEEP=y
CONFIG_HOSAL_SOC_SLEEP_TIMER_ID=3
CONFIG_HOSAL_SOC_TARGET_CUSTOMER=""
# end of EVK Board Config

#
# Peripheral
#
CONFIG_PERIPHERAL_COMP=y
CONFIG_PERIPHERAL_DMA=y
CONFIG_PERIPHERAL_PWM=y
CONFIG_PERIPHERAL_I2S=y
CONFIG_PERIPHERAL_I2C=y
CONFIG_PERIPHERAL_SPI=y
CONFIG_PERIPHERAL_SADC=y
CONFIG_PERIPHERAL_RTC=y
CONFIG_PERIPHERAL_TIMER=y
CONFIG_PERIPHERAL_SWI=y
# end of Peripheral
# end of Select Board type and Peripheral

#
# Select CPC Component
#
# CONFIG_BUILD_COMPONENT_CPC is not set
# end of Select CPC Component

#
# Select Network RF Component
#
# CONFIG_BUILD_COMPONENT_CSS is not set
CONFIG_BUILD_COMPONENT_RUCI=y
# CONFIG_BUILD_COMPONENT_LMAC5P4 is not set
CONFIG_BUILD_COMPONENT_RT569=y
CONFIG_BUILD_COMPONENT_RT569_RF=y
CONFIG_BUILD_COMPONENT_RT569_FW=y
# end of Select Network RF Component

#
# Select Supported FW Images
#
# CONFIG_RF_FW_INCLUDE_PCI is not set
CONFIG_RF_FW_INCLUDE_BLE=y
# CONFIG_RF_FW_INCLUDE_MULTI_2P4G is not set
# CONFIG_RF_FW_INCLUDE_MAC_ACC is not set
# CONFIG_RF_FW_INCLUDE_HYBRID_INST is not set
# CONFIG_RF_FW_INCLUDE_INTERNAL_TEST is not set
# end of Select Supported FW Images

#
# Select Crypto
#
# end of Select Crypto

#
# Select Utility
#
CONFIG_BUILD_COMPONENT_LOG=y
CONFIG_LOG_MAX_LEVEL=6
CONFIG_BUILD_COMPONENT_UART_STDIO=y
CONFIG_UART_STDIO_PORT=0
CONFIG_UART_STDIO_TX_PIN=17
CONFIG_UART_STDIO_RX_PIN=16
CONFIG_UART_STDIO_BAUDRATE=115200
CONFIG_BUILD_COMPONENT_UTILITY=y
# CONFIG_BUILD_COMPONENT_CLI is not set
CONFIG_BUILD_COMPONENT_NEWLIBC=y
# CONFIG_BUILD_COMPONENT_SYSLOG is not set
# CONFIG_BUILD_COMPONENT_SW_TIMER is not set
# CONFIG_BUILD_COMPONENT_ENHANCED_FLASH_DATASET is not set
# CONFIG_BUILD_COMPONENT_LZMADEC is not set
CONFIG_BUILD_COMPONENT_VERSION_INFO=y
CONFIG_BUILD_COMPONENT_DUMP_BOOT_INFO=y
# end of Select Utility

CONFIG_BUILD_PORJECT="periph-hogp"

#
# Select Compiler Optimization
#
# CONFIG_OPT_DEFAULT is not set
# CONFIG_OPT_O0 is not set
# CONFIG_OPT_O1 is not set
CONFIG_OPT_O2=y
# CONFIG_OPT_O3 is not set
# CONFIG_OPT_Ofast is not set
# CONFIG_OPT_Og is not set
# CONFIG_OPT_Os is not set
# CONFIG_OPT_Oz is not set
CONFIG_COMPILE_OPTIMIZATION="-O2"
CONFIG_CUSTOM_COMPILE_FLAG=""
# end of Select Compiler Optimization
