config BUILD_PORJECT
    string
    default "hci_raw" if HCI_RAW
    default "helloworld" if HELLOWORLD
    default "bootloader-app" if BOOTLOADER_APP
    default "multi-rcp" if MULTI_PROTOCOL_RCP
    default "subg_thread_meter" if SUBG_THREAD_METER
    default "subg_thread_ncp" if SUBG_THREAD_NCP
    default "ot-cli-ftd" if OT_CLI_FTD
    default "ot-cli-mtd-sleep" if OT_CLI_MTD
    default "ot-cli-ncp" if OT_CLI_NCP
    default "thread-demo" if THREAD_DEMO
    default "subg-sample" if SUBG_SAMPLE
    default "subg-wake-on-radio" if CONFIG_SUBG_WAKE_ON_RADIO
    default "aux-normal" if PER_AUX_NORMAL
    default "aux-normal-counter" if PER_AUX_NORMAL_COUNTER
    default "aux-sleep" if PER_AUX_SLEEP
    default "aux-sleep-counter" if PER_AUX_SLEEP_COUNTER
    default "aux-deepsleep" if PER_AUX_DEEPSLEEP
    default "aux-deepsleep-counter" if PER_AUX_DEEPSLEEP_COUNTER
    default "aux-deepsleep-level" if PER_AUX_DEEPSLEEP_LEVEL
    default "bod-normal" if PER_BOD_NORMAL
    default "bod-normal-counter" if PER_BOD_NORMAL_COUNTER
    default "bod-sleep" if PER_BOD_SLEEP
    default "bod-sleep-counter" if PER_BOD_SLEEP_COUNTER
    default "bod-deepsleep" if PER_BOD_DEEPSLEEP
    default "bod-deepsleep-counter" if PER_BOD_DEEPSLEEP_COUNTER
    default "bod-deepsleep-level" if PER_BOD_DEEPSLEEP_LEVEL
    default "comparator" if PER_COMPARATOR
    default "gpio-input" if PER_GPIO_INPUT
    default "gpio-interrupt" if PER_GPIO_INTERRUPT
    default "gpio-output" if PER_GPIO_OUTPUT
    default "gpio-wakeup-deep-power-down" if PER_GPIO_WAKEUP_DEEP_POWER_DOWN
    default "gpio-wakeup-deep-sleep" if PER_GPIO_WAKEUP_DEEP_SLEEP
    default "gpio-wakeup-sleep" if PER_GPIO_WAKEUP_SLEEP
    default "i2c-master" if PER_I2C_MASTER
    default "i2c-slave" if PER_I2C_SLAVE
    default "i2s-loopback" if PER_I2S_LOOPBACK
    default "i2s-mic" if PER_I2S_MIC
    default "irm-nec" if PER_IRM_NEC
    default "irm-rc6" if PER_IRM_RC6
    default "irm-sirc" if PER_IRM_SIRC
    default "rtc-event" if PER_RTC_EVENT
    default "rtc-everytime" if PER_RTC_EVERYTIME
    default "rtc-matchtime" if PER_RTC_MATCHTIME
    default "rtc-wakeup-sleep" if PER_RTC_WAKEUP_SLEEP
    default "rtc-wakeup-deep-sleep" if PER_RTC_WAKEUP_DEEP_SLEEP
    default "sadc" if PER_SADC
    default "slow-timer-freerun-downcount" if PER_SLOW_TIMER_FREERUN_DOWNCOUNT
    default "slow-timer-freerun-upcount" if PER_SLOW_TIMER_FREERUN_UPCOUNT
    default "slow-timer-oneshot" if PER_SLOW_TIMER_ONESHOT
    default "slow-timer-periodic" if PER_SLOW_TIMER_PERIODIC
    default "slow-timer-repeat-delay" if PER_SLOW_TIMER_REPEAT_DELAY
    default "slow-timer-user-prescale" if PER_SLOW_TIMER_USER_PRESCALE
    default "timer-capture" if PER_TIMER_CAPTURE
    default "timer-freerun-downcount" if PER_TIMER_FREERUN_DOWNCOUNT
    default "timer-freerun-upcount" if PER_TIMER_FREERUN_UPCOUNT
    default "timer-oneshot" if PER_TIMER_ONESHOT
    default "timer-periodic" if PER_TIMER_PERIODIC
    default "timer-pwm" if PER_TIMER_PWM
    default "timer-user-prescale" if PER_TIMER_USER_PRESCALE
    default "wdt-interrupt" if PER_WDT_INTERRUPT
    default "wdt-reset" if PER_WDT_RESET
    default "flash" if PER_FLASH
    default "swi" if PER_SWI
    default "dma_interrupt" if PER_DMA_INTERRUPT
    default "dma_polling" if PER_DMA_POLLING
    default "dma_link_list" if PER_DMA_LINK_LIST
    default "crypto_aes128_cbc" if PER_CRYPTO_AES128_CBC
    default "crypto_aes128_ctr" if PER_CRYPTO_AES128_CTR
    default "crypto_aes128_decrypt" if PER_CRYPTO_AES128_DECRYPT
    default "crypto_aes128_encrypt" if PER_CRYPTO_AES128_ENCRYPT
    default "crypto_aes192_ctr" if PER_CRYPTO_AES192_CTR
    default "crypto_aes256_decrypt" if PER_CRYPTO_AES256_DECRYPT
    default "crypto_aes256_encrypt" if PER_CRYPTO_AES256_ENCRYPT   
    default "crypto_ccm" if PER_CRYPTO_CCM 
    default "crypto_ctr_drbg" if PER_CRYPTO_CTR_DRBG
    default "crypto_curve_c25519_1" if PER_CRYPTO_CURVE_C25519_1
    default "crypto_curve_c25519_2" if PER_CRYPTO_CURVE_C25519_2
    default "crypto_ecc_gf2m_b163_1" if PER_CRYPTO_ECC_GF2M_BL163_1
    default "crypto_ecc_gf2m_b163_2" if PER_CRYPTO_ECC_GF2M_BL163_2
    default "crypto_ecc_gfp_192" if PER_CRYPTO_ECC_GFP_192 
    default "crypto_ecc_gfp_192_ecdh" if PER_CRYPTO_ECC_GFP_192_ECDH
    default "crypto_ecc_gfp_p256" if PER_CRYPTO_ECC_GFP_256
    default "crypto_ecc_gfp_p256_add" if PER_CRYPTO_ECC_GFP_256_ADD     
    default "crypto_ecc_gfp_p256_ecdh" if PER_CRYPTO_ECC_GFP_256_ECDH               
	default "crypto_ecdsa" if PER_CRYPTO_ECDSA
	default "crypto_ecjpake" if PER_CRYPTO_ECJPAKE
	default "crypto_hmac" if PER_CRYPTO_HMAC
	default "crypto_hmac_drbg" if PER_CRYPTO_HMAC_DRBG
    default "crypto_misc" if PER_CRYPTO_MISC
	default "crypto_PBKDF2"	if PER_CRYPTO_PBKDF2
    default "crypto_sha256" if PER_CRYPTO_SHA256
    default "crypto_hkdf" if PER_CRYPTO_HKDF
    default "crypto_sm2" if PER_CRYPTO_SM2
    default "crypto_sm3" if PER_CRYPTO_SM3
    default "crypto_sm4" if PER_CRYPTO_SM4 
    default "pwm_fmt1_duty" if PER_PWM_FMT1_DUTY
    default "pwm_fmt0_duty" if PER_PWM_FMT0_DUTY
    default "pwm_multi_fmt1_duty" if PER_PWM_MULTI_FMT1_DUTY
    default "pwm_multi_fmt0_duty" if PER_PWM_MULTI_FMT0_DUTY
    default "periph-hrs" if PERIPH_HEART_RATE
    default "periph-hogp" if PERIPH_HOGP
    default "periph-trsp" if PERIPH_TRSP
    default "periph-trsp-fota" if PERIPH_TRSP_FOTA
    default "periph-data-rate" if PERIPH_DATA_RATE
    default "periph-esl" if PERIPH_ESL
    default "central-data-rate" if CENTRAL_DATA_RATE
    default "central-trsp" if CENTRAL_TRSP
    default "central-esl-ap" if CENTRAL_ESL_AP
    default "multi-1c1p" if MULTI_1C1P
    default "power-management" if POWER_MANAGEMENT
    default "at-command" if AT_COMMAND
    default "ibeacon" if IBEACON
    default "gateway" if GATEWAY
    default "lightness-trsp" if LIGHTNESS_TRSP
    default "uart1_dma_it_loopback" if PER_UART1_DMA_IT_LOOPBACK
    default "uart1_dma_loopback" if PER_UART1_DMA_LOOPBACK
    default "uart1_hwflow_loopback" if PER_UART1_HWFLOW_LOOPBACK
    default "uart1_loopback" if PER_UART1_LOOPBACK
    default "uart1_uart2_loopback" if PER_UART1_UART2_DMA_LOOPBACK
    default "gateway-module" if ZIGBEE_GATEWAY_MODULE
    default "lighting-app" if ZIGBEE_LIGHTING_APP
    default "switch" if ZIGBEE_SWITCH_APP
    default "door-lock" if ZIGBEE_DOOR_LOCK_APP
    default "door-sensor" if ZIGBEE_DOOR_SENSOR_APP
    default "illuminance-sensor" if ZIGBEE_ILLUMINANCE_SENSOR_APP
    default "pir-sensor" if ZIGBEE_PIR_SENSOR_APP
    default "smart-plug" if ZIGBEE_SMART_PLUG_APP
    default "temperature-sensor" if ZIGBEE_TEMPERATURE_SENSOR_APP
    default "thermostat" if ZIGBEE_THERMOSTAT_APP
    default "wall-switch" if ZIGBEE_WALL_SWITCH_APP
    default "lpm_sleep" if PER_LPM_SLEEP
    default "lpm_deep_sleep" if PER_LPM_DEEP_SLEEP
    default "lpm_power_down" if PER_LPM_POWER_DOWN
	default "sleep" if PER_SLEEP
    default "qspi_access_flash" if SPI_ACCESS_FLASH
    default "qspi_epaper" if SPI_E_PAPER
    default "qspi_dma_loopback" if SPI_LOOPBACK
    default "qspi_dma_master" if SPI_DMA_MASTER
    default "qspi_dma_slave" if SPI_DMA_SLAVE
    default "qspi_pio_master" if SPI_PIO_MASTER
    default "qspi_pio_slave" if SPI_PIO_SLAVE
    default "otp_read" if PER_OTP_READ
    default "otp_write" if PER_OTP_WRITE
    default "otp_rand_number" if PER_OTP_RAND_NUMBER

